<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.danlu.dleye.persist.mapper.AddressInfoMapper" >
  <resultMap id="BaseResultMap" type="com.danlu.dleye.persist.base.AddressInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="address_id" property="addressId" jdbcType="VARCHAR" />
    <result column="address_name" property="addressName" jdbcType="VARCHAR" />
    <result column="address_tel" property="addressTel" jdbcType="VARCHAR" />
    <result column="address_info" property="addressInfo" jdbcType="VARCHAR" />
    <result column="address_zipcode" property="addressZipcode" jdbcType="VARCHAR" />
    <result column="address_status" property="addressStatus" jdbcType="VARCHAR" />
    <result column="address_sort" property="addressSort" jdbcType="INTEGER" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, address_id, address_name, address_tel, address_info, address_zipcode, 
    address_status, address_sort, gmt_create, gmt_modified
  </sql>
  <sql id="selectByParamsWhere">
    <where>
	  <if test="userId != null">
	    user_id = #{userId,jdbcType=VARCHAR} and
	  </if>
	  <if test="addressId != null">
	    address_id = #{addressId,jdbcType=VARCHAR} and
	  </if>
      <if test="addressName != null">
        address_name like CONCAT(CONCAT('%', #{addressName,jdbcType=VARCHAR}), '%') and
      </if>
      <if test="addressTel != null">
	    address_tel = #{addressTel,jdbcType=VARCHAR} and
	  </if>
      <if test="addressStatus != null">
        address_status = #{addressStatus,jdbcType=VARCHAR} and
      </if>
      <if test="addressSort != null">
        address_sort = #{addressSort,jdbcType=VARCHAR} and
      </if>
        1 = 1
    </where>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dmall_address_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from dmall_address_info
    <include refid="selectByParamsWhere" />
    <if test=" offset != null and limit != null">
	  limit ${offset},${limit}
	</if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dmall_address_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteAdressInfo" parameterType="com.danlu.dleye.persist.base.AddressInfo" >
    delete from dmall_address_info
    where address_id = #{addressId,jdbcType=VARCHAR} and user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.danlu.dleye.persist.base.AddressInfo" >
    insert into dmall_address_info (id, user_id, address_id, 
      address_name, address_tel, address_info, 
      address_zipcode, address_status, address_sort, 
      gmt_create, gmt_modified)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{addressId,jdbcType=VARCHAR}, 
      #{addressName,jdbcType=VARCHAR}, #{addressTel,jdbcType=VARCHAR}, #{addressInfo,jdbcType=VARCHAR}, 
      #{addressZipcode,jdbcType=VARCHAR}, #{addressStatus,jdbcType=VARCHAR}, #{addressSort,jdbcType=INTEGER}, 
      NOW(), NOW())
  </insert>
  <insert id="insertSelective" parameterType="com.danlu.dleye.persist.base.AddressInfo" >
    insert into dmall_address_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="addressId != null" >
        address_id,
      </if>
      <if test="addressName != null" >
        address_name,
      </if>
      <if test="addressTel != null" >
        address_tel,
      </if>
      <if test="addressInfo != null" >
        address_info,
      </if>
      <if test="addressZipcode != null" >
        address_zipcode,
      </if>
      <if test="addressStatus != null" >
        address_status,
      </if>
      <if test="addressSort != null" >
        address_sort,
      </if>
        gmt_create,
        gmt_modified
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="addressId != null" >
        #{addressId,jdbcType=VARCHAR},
      </if>
      <if test="addressName != null" >
        #{addressName,jdbcType=VARCHAR},
      </if>
      <if test="addressTel != null" >
        #{addressTel,jdbcType=VARCHAR},
      </if>
      <if test="addressInfo != null" >
        #{addressInfo,jdbcType=VARCHAR},
      </if>
      <if test="addressZipcode != null" >
        #{addressZipcode,jdbcType=VARCHAR},
      </if>
      <if test="addressStatus != null" >
        #{addressStatus,jdbcType=VARCHAR},
      </if>
      <if test="addressSort != null" >
        #{addressSort,jdbcType=INTEGER},
      </if>
        NOW(),
        NOW()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.danlu.dleye.persist.base.AddressInfo" >
    update dmall_address_info
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="addressId != null" >
        address_id = #{addressId,jdbcType=VARCHAR},
      </if>
      <if test="addressName != null" >
        address_name = #{addressName,jdbcType=VARCHAR},
      </if>
      <if test="addressTel != null" >
        address_tel = #{addressTel,jdbcType=VARCHAR},
      </if>
      <if test="addressInfo != null" >
        address_info = #{addressInfo,jdbcType=VARCHAR},
      </if>
      <if test="addressZipcode != null" >
        address_zipcode = #{addressZipcode,jdbcType=VARCHAR},
      </if>
      <if test="addressStatus != null" >
        address_status = #{addressStatus,jdbcType=VARCHAR},
      </if>
      <if test="addressSort != null" >
        address_sort = #{addressSort,jdbcType=INTEGER},
      </if>
        gmt_modified = NOW()
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.danlu.dleye.persist.base.AddressInfo" >
    update dmall_address_info
    set user_id = #{userId,jdbcType=VARCHAR},
      address_id = #{addressId,jdbcType=VARCHAR},
      address_name = #{addressName,jdbcType=VARCHAR},
      address_tel = #{addressTel,jdbcType=VARCHAR},
      address_info = #{addressInfo,jdbcType=VARCHAR},
      address_zipcode = #{addressZipcode,jdbcType=VARCHAR},
      address_status = #{addressStatus,jdbcType=VARCHAR},
      address_sort = #{addressSort,jdbcType=INTEGER},
      gmt_modified = NOW()
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>