<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fc.mq.persist.mapper.CxInsCbaMapper" >
  <resultMap id="BaseResultMap" type="com.fc.mq.persist.base.CxInsCba" >
    <result column="row_id" property="rowId" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="last_upd" property="lastUpd" jdbcType="TIMESTAMP" />
    <result column="last_upd_by" property="lastUpdBy" jdbcType="VARCHAR" />
    <result column="modification_num" property="modificationNum" jdbcType="BIGINT" />
    <result column="conflict_id" property="conflictId" jdbcType="VARCHAR" />
    <result column="db_last_upd" property="dbLastUpd" jdbcType="TIMESTAMP" />
    <result column="user_field17" property="userField17" jdbcType="DECIMAL" />
    <result column="user_field18" property="userField18" jdbcType="DECIMAL" />
    <result column="user_field19" property="userField19" jdbcType="DECIMAL" />
    <result column="user_field20" property="userField20" jdbcType="DECIMAL" />
    <result column="user_field21" property="userField21" jdbcType="TIMESTAMP" />
    <result column="user_field22" property="userField22" jdbcType="TIMESTAMP" />
    <result column="user_field23" property="userField23" jdbcType="TIMESTAMP" />
    <result column="user_field24" property="userField24" jdbcType="DECIMAL" />
    <result column="user_field25" property="userField25" jdbcType="DECIMAL" />
    <result column="user_field26" property="userField26" jdbcType="DECIMAL" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="complete_flg" property="completeFlg" jdbcType="VARCHAR" />
    <result column="db_last_upd_src" property="dbLastUpdSrc" jdbcType="VARCHAR" />
    <result column="home_address1" property="homeAddress1" jdbcType="VARCHAR" />
    <result column="home_address2" property="homeAddress2" jdbcType="VARCHAR" />
    <result column="home_address3" property="homeAddress3" jdbcType="VARCHAR" />
    <result column="home_address4" property="homeAddress4" jdbcType="VARCHAR" />
    <result column="home_address5" property="homeAddress5" jdbcType="VARCHAR" />
    <result column="home_address6" property="homeAddress6" jdbcType="VARCHAR" />
    <result column="loan_id" property="loanId" jdbcType="VARCHAR" />
    <result column="surname" property="surname" jdbcType="VARCHAR" />
    <result column="user_field1" property="userField1" jdbcType="VARCHAR" />
    <result column="user_field2" property="userField2" jdbcType="VARCHAR" />
    <result column="user_field3" property="userField3" jdbcType="VARCHAR" />
    <result column="user_field4" property="userField4" jdbcType="VARCHAR" />
    <result column="user_field5" property="userField5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
      row_id, created, created_by, last_upd, last_upd_by, modification_num, 
      conflict_id, db_last_upd, user_field17, user_field18, user_field19, user_field20, user_field21, user_field22, user_field23, 
      user_field24, user_field25, user_field26, company_name, complete_flg, db_last_upd_src, home_address1, home_address2, home_address3, 
      home_address4, home_address5, home_address6, loan_id, surname, user_field1, user_field2, user_field3, user_field4, user_field5
  </sql>
  <select id="selectByLoanId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cx_ins_cba
    where loan_id = #{loanId,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.fc.mq.persist.base.CxInsCba" >
    insert into cx_ins_cba (row_id, created, created_by, 
      last_upd, last_upd_by, modification_num, 
      conflict_id, db_last_upd, user_field17, 
      user_field18, user_field19, user_field20, 
      user_field21, user_field22, user_field23, 
      user_field24, user_field25, user_field26, 
      company_name, complete_flg, db_last_upd_src, 
      home_address1, home_address2, home_address3, 
      home_address4, home_address5, home_address6, 
      loan_id, surname, user_field1, 
      user_field2, user_field3, user_field4, 
      user_field5)
    values (#{rowId,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, 
      #{lastUpd,jdbcType=TIMESTAMP}, #{lastUpdBy,jdbcType=VARCHAR}, #{modificationNum,jdbcType=BIGINT}, 
      #{conflictId,jdbcType=VARCHAR}, #{dbLastUpd,jdbcType=TIMESTAMP}, #{userField17,jdbcType=DECIMAL}, 
      #{userField18,jdbcType=DECIMAL}, #{userField19,jdbcType=DECIMAL}, #{userField20,jdbcType=DECIMAL}, 
      #{userField21,jdbcType=TIMESTAMP}, #{userField22,jdbcType=TIMESTAMP}, #{userField23,jdbcType=TIMESTAMP}, 
      #{userField24,jdbcType=DECIMAL}, #{userField25,jdbcType=DECIMAL}, #{userField26,jdbcType=DECIMAL}, 
      #{companyName,jdbcType=VARCHAR}, #{completeFlg,jdbcType=VARCHAR}, #{dbLastUpdSrc,jdbcType=VARCHAR}, 
      #{homeAddress1,jdbcType=VARCHAR}, #{homeAddress2,jdbcType=VARCHAR}, #{homeAddress3,jdbcType=VARCHAR}, 
      #{homeAddress4,jdbcType=VARCHAR}, #{homeAddress5,jdbcType=VARCHAR}, #{homeAddress6,jdbcType=VARCHAR}, 
      #{loanId,jdbcType=VARCHAR}, #{surname,jdbcType=VARCHAR}, #{userField1,jdbcType=VARCHAR}, 
      #{userField2,jdbcType=VARCHAR}, #{userField3,jdbcType=VARCHAR}, #{userField4,jdbcType=VARCHAR}, 
      #{userField5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fc.mq.persist.base.CxInsCba" >
    insert into cx_ins_cba
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rowId != null" >
        row_id,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastUpd != null" >
        last_upd,
      </if>
      <if test="lastUpdBy != null" >
        last_upd_by,
      </if>
      <if test="modificationNum != null" >
        modification_num,
      </if>
      <if test="conflictId != null" >
        conflict_id,
      </if>
      <if test="dbLastUpd != null" >
        db_last_upd,
      </if>
      <if test="userField17 != null" >
        user_field17,
      </if>
      <if test="userField18 != null" >
        user_field18,
      </if>
      <if test="userField19 != null" >
        user_field19,
      </if>
      <if test="userField20 != null" >
        user_field20,
      </if>
      <if test="userField21 != null" >
        user_field21,
      </if>
      <if test="userField22 != null" >
        user_field22,
      </if>
      <if test="userField23 != null" >
        user_field23,
      </if>
      <if test="userField24 != null" >
        user_field24,
      </if>
      <if test="userField25 != null" >
        user_field25,
      </if>
      <if test="userField26 != null" >
        user_field26,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="completeFlg != null" >
        complete_flg,
      </if>
      <if test="dbLastUpdSrc != null" >
        db_last_upd_src,
      </if>
      <if test="homeAddress1 != null" >
        home_address1,
      </if>
      <if test="homeAddress2 != null" >
        home_address2,
      </if>
      <if test="homeAddress3 != null" >
        home_address3,
      </if>
      <if test="homeAddress4 != null" >
        home_address4,
      </if>
      <if test="homeAddress5 != null" >
        home_address5,
      </if>
      <if test="homeAddress6 != null" >
        home_address6,
      </if>
      <if test="loanId != null" >
        loan_id,
      </if>
      <if test="surname != null" >
        surname,
      </if>
      <if test="userField1 != null" >
        user_field1,
      </if>
      <if test="userField2 != null" >
        user_field2,
      </if>
      <if test="userField3 != null" >
        user_field3,
      </if>
      <if test="userField4 != null" >
        user_field4,
      </if>
      <if test="userField5 != null" >
        user_field5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rowId != null" >
        #{rowId,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpd != null" >
        #{lastUpd,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdBy != null" >
        #{lastUpdBy,jdbcType=VARCHAR},
      </if>
      <if test="modificationNum != null" >
        #{modificationNum,jdbcType=BIGINT},
      </if>
      <if test="conflictId != null" >
        #{conflictId,jdbcType=VARCHAR},
      </if>
      <if test="dbLastUpd != null" >
        #{dbLastUpd,jdbcType=TIMESTAMP},
      </if>
      <if test="userField17 != null" >
        #{userField17,jdbcType=DECIMAL},
      </if>
      <if test="userField18 != null" >
        #{userField18,jdbcType=DECIMAL},
      </if>
      <if test="userField19 != null" >
        #{userField19,jdbcType=DECIMAL},
      </if>
      <if test="userField20 != null" >
        #{userField20,jdbcType=DECIMAL},
      </if>
      <if test="userField21 != null" >
        #{userField21,jdbcType=TIMESTAMP},
      </if>
      <if test="userField22 != null" >
        #{userField22,jdbcType=TIMESTAMP},
      </if>
      <if test="userField23 != null" >
        #{userField23,jdbcType=TIMESTAMP},
      </if>
      <if test="userField24 != null" >
        #{userField24,jdbcType=DECIMAL},
      </if>
      <if test="userField25 != null" >
        #{userField25,jdbcType=DECIMAL},
      </if>
      <if test="userField26 != null" >
        #{userField26,jdbcType=DECIMAL},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="completeFlg != null" >
        #{completeFlg,jdbcType=VARCHAR},
      </if>
      <if test="dbLastUpdSrc != null" >
        #{dbLastUpdSrc,jdbcType=VARCHAR},
      </if>
      <if test="homeAddress1 != null" >
        #{homeAddress1,jdbcType=VARCHAR},
      </if>
      <if test="homeAddress2 != null" >
        #{homeAddress2,jdbcType=VARCHAR},
      </if>
      <if test="homeAddress3 != null" >
        #{homeAddress3,jdbcType=VARCHAR},
      </if>
      <if test="homeAddress4 != null" >
        #{homeAddress4,jdbcType=VARCHAR},
      </if>
      <if test="homeAddress5 != null" >
        #{homeAddress5,jdbcType=VARCHAR},
      </if>
      <if test="homeAddress6 != null" >
        #{homeAddress6,jdbcType=VARCHAR},
      </if>
      <if test="loanId != null" >
        #{loanId,jdbcType=VARCHAR},
      </if>
      <if test="surname != null" >
        #{surname,jdbcType=VARCHAR},
      </if>
      <if test="userField1 != null" >
        #{userField1,jdbcType=VARCHAR},
      </if>
      <if test="userField2 != null" >
        #{userField2,jdbcType=VARCHAR},
      </if>
      <if test="userField3 != null" >
        #{userField3,jdbcType=VARCHAR},
      </if>
      <if test="userField4 != null" >
        #{userField4,jdbcType=VARCHAR},
      </if>
      <if test="userField5 != null" >
        #{userField5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>