<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fc.mq.persist.mapper.CxInsCbbMapper" >
  <resultMap id="BaseResultMap" type="com.fc.mq.persist.base.CxInsCbb" >
    <result column="row_id" property="rowId" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="last_upd" property="lastUpd" jdbcType="TIMESTAMP" />
    <result column="last_upd_by" property="lastUpdBy" jdbcType="VARCHAR" />
    <result column="modification_num" property="modificationNum" jdbcType="BIGINT" />
    <result column="conflict_id" property="conflictId" jdbcType="VARCHAR" />
    <result column="db_last_upd" property="dbLastUpd" jdbcType="TIMESTAMP" />
    <result column="db_last_upd_src" property="dbLastUpdSrc" jdbcType="VARCHAR" />
    <result column="loan_id" property="loanId" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="VARCHAR" />
    <result column="surname" property="Surname" jdbcType="VARCHAR" />
    <result column="home_address1" property="Home_Address1" jdbcType="VARCHAR" />
    <result column="home_address2" property="Home_Address2" jdbcType="VARCHAR" />
    <result column="home_address3" property="Home_Address3" jdbcType="VARCHAR" />
    <result column="home_postcode" property="Home_Postcode" jdbcType="VARCHAR" />
    <result column="home_phone_number" property="Home_Phone_Number" jdbcType="VARCHAR" />
    <result column="mobile_phone_number" property="Mobile_Phone_Number" jdbcType="VARCHAR" />
    <result column="user_field1" property="User_Field1" jdbcType="DECIMAL" />
    <result column="user_field21" property="User_Field21" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
      row_id, created, created_by, last_upd, last_upd_by, modification_num, 
      conflict_id, db_last_upd, db_last_upd_src, loan_id, category, surname, 
      home_address1, home_address2, home_address3, home_postcode, home_phone_number, mobile_phone_number, 
      user_field1, user_field21
  </sql>
  <select id="selectByLoanId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from cx_ins_cbb
    where loan_id = #{loanId,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.fc.mq.persist.base.CxInsCbb" >
    insert into cx_ins_cbb (row_id, created, created_by, 
      last_upd, last_upd_by, modification_num, 
      conflict_id, db_last_upd, db_last_upd_src, 
      loan_id, category, surname, 
      home_address1, home_address2, home_address3, 
      home_postcode, home_phone_number, mobile_phone_number, 
      user_field1, user_field21)
    values (#{rowId,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, 
      #{lastUpd,jdbcType=TIMESTAMP}, #{lastUpdBy,jdbcType=VARCHAR}, #{modificationNum,jdbcType=BIGINT}, 
      #{conflictId,jdbcType=VARCHAR}, #{dbLastUpd,jdbcType=TIMESTAMP}, #{dbLastUpdSrc,jdbcType=VARCHAR}, 
      #{loanId,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{Surname,jdbcType=VARCHAR}, 
      #{Home_Address1,jdbcType=VARCHAR}, #{Home_Address2,jdbcType=VARCHAR}, #{Home_Address3,jdbcType=VARCHAR}, 
      #{Home_Postcode,jdbcType=VARCHAR}, #{Home_Phone_Number,jdbcType=VARCHAR}, #{Mobile_Phone_Number,jdbcType=VARCHAR}, 
      #{User_Field1,jdbcType=DECIMAL}, #{User_Field21,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.fc.mq.persist.base.CxInsCbb" >
    insert into cx_ins_cbb
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rowId != null" >
        row_id,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="lastUpd != null" >
        last_upd,
      </if>
      <if test="lastUpdBy != null" >
        last_upd_by,
      </if>
      <if test="modificationNum != null" >
        modification_num,
      </if>
      <if test="conflictId != null" >
        conflict_id,
      </if>
      <if test="dbLastUpd != null" >
        db_last_upd,
      </if>
      <if test="dbLastUpdSrc != null" >
        db_last_upd_src,
      </if>
      <if test="loanId != null" >
        loan_id,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="Surname != null" >
        surname,
      </if>
      <if test="Home_Address1 != null" >
        home_address1,
      </if>
      <if test="Home_Address2 != null" >
        home_address2,
      </if>
      <if test="Home_Address3 != null" >
        home_address3,
      </if>
      <if test="Home_Postcode != null" >
        home_postcode,
      </if>
      <if test="Home_Phone_Number != null" >
        home_phone_number,
      </if>
      <if test="Mobile_Phone_Number != null" >
        mobile_phone_number,
      </if>
      <if test="User_Field1 != null" >
        user_field1,
      </if>
      <if test="User_Field21 != null" >
        user_field21,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rowId != null" >
        #{rowId,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpd != null" >
        #{lastUpd,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdBy != null" >
        #{lastUpdBy,jdbcType=VARCHAR},
      </if>
      <if test="modificationNum != null" >
        #{modificationNum,jdbcType=BIGINT},
      </if>
      <if test="conflictId != null" >
        #{conflictId,jdbcType=VARCHAR},
      </if>
      <if test="dbLastUpd != null" >
        #{dbLastUpd,jdbcType=TIMESTAMP},
      </if>
      <if test="dbLastUpdSrc != null" >
        #{dbLastUpdSrc,jdbcType=VARCHAR},
      </if>
      <if test="loanId != null" >
        #{loanId,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="Surname != null" >
        #{Surname,jdbcType=VARCHAR},
      </if>
      <if test="Home_Address1 != null" >
        #{Home_Address1,jdbcType=VARCHAR},
      </if>
      <if test="Home_Address2 != null" >
        #{Home_Address2,jdbcType=VARCHAR},
      </if>
      <if test="Home_Address3 != null" >
        #{Home_Address3,jdbcType=VARCHAR},
      </if>
      <if test="Home_Postcode != null" >
        #{Home_Postcode,jdbcType=VARCHAR},
      </if>
      <if test="Home_Phone_Number != null" >
        #{Home_Phone_Number,jdbcType=VARCHAR},
      </if>
      <if test="Mobile_Phone_Number != null" >
        #{Mobile_Phone_Number,jdbcType=VARCHAR},
      </if>
      <if test="User_Field1 != null" >
        #{User_Field1,jdbcType=DECIMAL},
      </if>
      <if test="User_Field21 != null" >
        #{User_Field21,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>