<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fc.mq.persist.mapper.FoodRecordMapper" >
  <resultMap id="BaseResultMap" type="com.fc.mq.persist.base.FoodRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="record_time" property="recordTime" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_person" property="createPerson" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, record_time, type, number, unit, info, status, create_person, gmt_create, gmt_modify
  </sql>
  <sql id="selectByParamsWhere">
    <where>
      <if test="recordTimeStartTime != null">
	    <![CDATA[
		  record_time >= #{recordTimeStartTime,jdbcType=TIMESTAMP} and	
		]]>
	  </if>
	  <if test="recordTimeEndTime != null">
	    <![CDATA[
		  record_time <= #{recordTimeEndTime,jdbcType=TIMESTAMP} and	
		]]>
	  </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR} and
      </if>
        1 = 1
    </where>
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from aiinfo_food_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectFoodRecordsByParams" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from aiinfo_food_record
    <include refid="selectByParamsWhere" />
      order by record_time asc
    <if test=" offset != null and limit != null">
	  limit ${offset},${limit}
	</if>
  </select>
  
  <select id="selectFoodRecordStatistics" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from aiinfo_food_record
    <include refid="selectByParamsWhere" />
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from aiinfo_food_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fc.mq.persist.base.FoodRecord" >
    insert into aiinfo_food_record (id, record_time, type, 
      number, unit, info, 
      status, create_person, gmt_create, 
      gmt_modify)
    values (#{id,jdbcType=BIGINT}, #{recordTime,jdbcType=TIMESTAMP}, #{type,jdbcType=VARCHAR}, 
      #{number,jdbcType=INTEGER}, #{unit,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{createPerson,jdbcType=VARCHAR}, NOW(), NOW())
  </insert>
  <insert id="insertSelective" parameterType="com.fc.mq.persist.base.FoodRecord" >
    insert into aiinfo_food_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="recordTime != null" >
        record_time,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="info != null" >
        info,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createPerson != null" >
        create_person,
      </if>
        gmt_create,
        gmt_modify
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="recordTime != null" >
        #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createPerson != null" >
        #{createPerson,jdbcType=VARCHAR},
      </if>
        NOW(),
        NOW()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fc.mq.persist.base.FoodRecord" >
    update aiinfo_food_record
    <set >
      <if test="recordTime != null" >
        record_time = #{recordTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="unit != null" >
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createPerson != null" >
        create_person = #{createPerson,jdbcType=VARCHAR},
      </if>
        gmt_modify = NOW()
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fc.mq.persist.base.FoodRecord" >
    update aiinfo_food_record
    set record_time = #{recordTime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=VARCHAR},
      number = #{number,jdbcType=INTEGER},
      unit = #{unit,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      create_person = #{createPerson,jdbcType=VARCHAR},
      gmt_modify = NOW()
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>