<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.danlu.dleye.persist.mapper.FudaiSubscribeMapper" >
  <resultMap id="BaseResultMap" type="com.danlu.dleye.persist.base.FudaiSubscribe" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="fd_id" property="fdId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fd_id, user_id, gmt_create, gmt_modified
  </sql>
  <sql id="selectByParamsWhere">
    <where>
	  <if test="fdIds != null">
		fd_id in
		<trim suffixOverrides=",">
			<foreach collection="fdIds" item="fdId" index="index" separator="," open="(" close=")">
				#{fdId, jdbcType=VARCHAR}
			</foreach>
		</trim>
		and
	  </if>
      <if test="userIds != null">
		user_id in
		<trim suffixOverrides=",">
			<foreach collection="userIds" item="userId" index="index" separator="," open="(" close=")">
				#{userId, jdbcType=BIGINT}
			</foreach>
		</trim>
		and
	  </if>
        1 = 1
    </where>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dmall_fudai_subscribe
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from dmall_fudai_subscribe
    <include refid="selectByParamsWhere" />
    <if test=" offset != null and limit != null">
	  limit ${offset},${limit}
	</if>
  </select>
  
  <delete id="deleteByFdIdAndUserId" parameterType="com.danlu.dleye.persist.base.FudaiSubscribe" >
    delete from dmall_fudai_subscribe
    where fd_id = #{fdId,jdbcType=VARCHAR} and user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.danlu.dleye.persist.base.FudaiSubscribe" >
    insert into dmall_fudai_subscribe (id, fd_id, user_id, 
      gmt_create, gmt_modified)
    values (#{id,jdbcType=BIGINT}, #{fdId,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, 
      NOW(), NOW())
  </insert>
  <insert id="insertSelective" parameterType="com.danlu.dleye.persist.base.FudaiSubscribe" >
    insert into dmall_fudai_subscribe
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fdId != null" >
        fd_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
        gmt_create,
        gmt_modified
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="fdId != null" >
        #{fdId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
        NOW(),
        NOW()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.danlu.dleye.persist.base.FudaiSubscribe" >
    update dmall_fudai_subscribe
    <set >
      <if test="fdId != null" >
        fd_id = #{fdId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
        gmt_modified = NOW()
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.danlu.dleye.persist.base.FudaiSubscribe" >
    update dmall_fudai_subscribe
    set fd_id = #{fdId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      gmt_modified = NOW()
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>