<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.danlu.dleye.persist.mapper.FudaiInfoMapper" >
  <resultMap id="BaseResultMap" type="com.danlu.dleye.persist.base.FudaiInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="fd_id" property="fdId" jdbcType="VARCHAR" />
    <result column="fd_name" property="fdName" jdbcType="VARCHAR" />
    <result column="fd_amount" property="fdAmount" jdbcType="BIGINT" />
    <result column="fd_price" property="fdPrice" jdbcType="BIGINT" />
    <result column="fd_code" property="fdCode" jdbcType="VARCHAR" />
    <result column="fd_type" property="fdType" jdbcType="VARCHAR" />
    <result column="fd_status" property="fdStatus" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="create_person" property="createPerson" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fd_id, fd_name, fd_amount, fd_price, fd_code, fd_type, fd_status, user_id, create_person, gmt_create, gmt_modified
  </sql>
  <sql id="selectByParamsWhere">
    <where>
	  <if test="fdIds != null">
		fd_id in
		<trim suffixOverrides=",">
			<foreach collection="fdIds" item="fdId" index="index" separator="," open="(" close=")">
				#{fdId, jdbcType=VARCHAR}
			</foreach>
		</trim>
		and
	  </if>
	  <if test="fdType != null">
        fd_type = #{fdType,jdbcType=VARCHAR} and
      </if>
      <if test="fdStatus != null">
        fd_status = #{fdStatus,jdbcType=VARCHAR} and
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT} and
      </if>
      <if test="notEqStatus != null">
          <![CDATA[
        	fd_status <> #{notEqStatus,jdbcType=VARCHAR} and  
          ]]>
      </if>
        1 = 1
    </where>
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dmall_fudai_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from dmall_fudai_info
    <include refid="selectByParamsWhere" />
    <if test=" offset != null and limit != null">
	  limit ${offset},${limit}
	</if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dmall_fudai_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByFdId" parameterType="java.lang.String" >
    delete from dmall_fudai_info
    where fd_id = #{fdId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.danlu.dleye.persist.base.FudaiInfo" >
    insert into dmall_fudai_info (id, fd_id, fd_name, fd_amount, fd_price, 
      fd_code, fd_type, fd_status, user_id 
      create_person, gmt_create, gmt_modified
      )
    values (#{id,jdbcType=BIGINT}, #{fdId,jdbcType=VARCHAR}, #{fdName,jdbcType=VARCHAR}, #{fdAmount,jdbcType=BIGINT}, #{fdPrice,jdbcType=BIGINT},
      #{fdCode,jdbcType=VARCHAR}, #{fdType,jdbcType=VARCHAR}, #{fdStatus,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, 
      #{createPerson,jdbcType=VARCHAR}, NOW(), NOW()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.danlu.dleye.persist.base.FudaiInfo" >
    insert into dmall_fudai_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fdId != null" >
        fd_id,
      </if>
      <if test="fdName != null" >
        fd_name,
      </if>
      <if test="fdAmount != null" >
        fd_amount,
      </if>
      <if test="fdPrice != null" >
        fd_price,
      </if>
      <if test="fdCode != null" >
        fd_code,
      </if>
      <if test="fdType != null" >
        fd_type,
      </if>
      <if test="fdStatus != null" >
        fd_status,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="createPerson != null" >
        create_person,
      </if>
        gmt_create,
        gmt_modified
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="fdId != null" >
        #{fdId,jdbcType=VARCHAR},
      </if>
      <if test="fdName != null" >
        #{fdName,jdbcType=VARCHAR},
      </if>
      <if test="fdAmount != null" >
        #{fdAmount,jdbcType=BIGINT},
      </if>
      <if test="fdPrice != null" >
        #{fdPrice,jdbcType=BIGINT},
      </if>
      <if test="fdCode != null" >
        #{fdCode,jdbcType=VARCHAR},
      </if>
      <if test="fdType != null" >
        #{fdType,jdbcType=VARCHAR},
      </if>
      <if test="fdStatus != null" >
        #{fdStatus,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="createPerson != null" >
        #{createPerson,jdbcType=VARCHAR},
      </if>
        NOW(),
        NOW()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.danlu.dleye.persist.base.FudaiInfo" >
    update dmall_fudai_info
    <set >
      <if test="fdName != null" >
        fd_name = #{fdName,jdbcType=VARCHAR},
      </if>
      <if test="fdAmount != null" >
        fd_amount = #{fdAmount,jdbcType=BIGINT},
      </if>
      <if test="fdPrice != null" >
        fd_price = #{fdPrice,jdbcType=BIGINT},
      </if>
      <if test="fdCode != null" >
        fd_code = #{fdCode,jdbcType=VARCHAR},
      </if>
      <if test="fdType != null" >
        fd_type = #{fdType,jdbcType=VARCHAR},
      </if>
      <if test="fdStatus != null" >
        fd_status = #{fdStatus,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="createPerson != null" >
        create_person = #{createPerson,jdbcType=VARCHAR},
      </if>
        gmt_modified = NOW()
    </set>
    where fd_id = #{fdId,jdbcType=VARCHAR}
  </update>
</mapper>