<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.danlu.dleye.persist.mapper.ShoppingcarInfoMapper" >
  <resultMap id="BaseResultMap" type="com.danlu.dleye.persist.base.ShoppingcarInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="shoppingcar_id" property="shoppingcarId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="item_type" property="itemType" jdbcType="VARCHAR" />
    <result column="item_id" property="itemId" jdbcType="BIGINT" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="item_price" property="itemPrice" jdbcType="BIGINT" />
    <result column="item_number" property="itemNumber" jdbcType="INTEGER" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, shoppingcar_id, user_id, item_type, item_id, item_name, item_price, item_number, gmt_create, gmt_modified
  </sql>
  <sql id="selectByParamsWhere">
    <where>
	  <if test="userIds != null">
		user_id in
		<trim suffixOverrides=",">
			<foreach collection="userIds" item="userId" index="index" separator="," open="(" close=")">
				#{userId, jdbcType=VARCHAR}
			</foreach>
		</trim>
		and
	  </if>
	  <if test="itemType != null">
        item_type = #{itemType,jdbcType=VARCHAR} and
      </if>
      <if test="itemId != null">
        item_id = #{itemId,jdbcType=BIGINT} and
      </if>
        1 = 1
    </where>
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dmall_shoppingcar_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from dmall_shoppingcar_info
    <include refid="selectByParamsWhere" />
    <if test=" offset != null and limit != null">
	  limit ${offset},${limit}
	</if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dmall_shoppingcar_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteShoppingcarInfo" parameterType="com.danlu.dleye.persist.base.ShoppingcarInfo" >
    delete from dmall_shoppingcar_info
    where user_id = #{userId,jdbcType=VARCHAR} and item_id = #{itemId,jdbcType=BIGINT} and item_type = #{itemType,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.danlu.dleye.persist.base.ShoppingcarInfo" >
    insert into dmall_shoppingcar_info (id, shoppingcar_id, user_id, 
      item_type, item_id, item_name, item_price, item_number, 
      gmt_create, gmt_modified)
    values (#{id,jdbcType=BIGINT}, #{shoppingcarId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{itemType,jdbcType=VARCHAR}, #{itemId,jdbcType=BIGINT}, #{itemName,jdbcType=VARCHAR}, #{itemPrice,jdbcType=BIGINT}, #{itemNumber,jdbcType=INTEGER}, 
      NOW(), NOW())
  </insert>
  <insert id="insertSelective" parameterType="com.danlu.dleye.persist.base.ShoppingcarInfo" >
    insert into dmall_shoppingcar_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shoppingcarId != null" >
        shoppingcar_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="itemType != null" >
        item_type,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="itemName != null" >
        item_name,
      </if>
      <if test="itemPrice != null" >
        item_price,
      </if>
      <if test="itemNumber != null" >
        item_number,
      </if>
        gmt_create,
        gmt_modified
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shoppingcarId != null" >
        #{shoppingcarId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null" >
        #{itemType,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=BIGINT},
      </if>
      <if test="itemName != null" >
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemPrice != null" >
        #{itemPrice,jdbcType=BIGINT},
      </if>
      <if test="itemNumber != null" >
        #{itemNumber,jdbcType=INTEGER},
      </if>
        NOW(),
        NOW()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.danlu.dleye.persist.base.ShoppingcarInfo" >
    update dmall_shoppingcar_info
    <set >
      <if test="shoppingcarId != null" >
        shoppingcar_id = #{shoppingcarId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="itemType != null" >
        item_type = #{itemType,jdbcType=VARCHAR},
      </if>
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=BIGINT},
      </if>
      <if test="itemName != null" >
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemPrice != null" >
        item_price = #{itemPrice,jdbcType=BIGINT},
      </if>
      <if test="itemNumber != null" >
        item_number = #{itemNumber,jdbcType=INTEGER},
      </if>
        gmt_modified = NOW()
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.danlu.dleye.persist.base.ShoppingcarInfo" >
    update dmall_shoppingcar_info
    set shoppingcar_id = #{shoppingcarId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      item_type = #{itemType,jdbcType=VARCHAR},
      item_id = #{itemId,jdbcType=BIGINT},
      item_name = #{itemName,jdbcType=VARCHAR},
      item_price = #{itemPrice,jdbcType=BIGINT},
      item_number = #{itemNumber,jdbcType=INTEGER},
      gmt_modified = NOW()
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>