<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.danlu.dleye.persist.mapper.UserInfoEntityMapper" >
  <resultMap id="BaseResultMap" type="com.danlu.dleye.persist.base.UserInfoEntity" >
    <id column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="del_flag" property="delFlag" jdbcType="TINYINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_update" property="gmtUpdate" jdbcType="TIMESTAMP" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_name, password, email, tel, type, status, del_flag, gmt_create, gmt_update, open_id
  </sql>
  <sql id="selectByParamsWhere">
    <where>
      <if test="userName != null">
        user_name like CONCAT(CONCAT('%', #{userNmae,jdbcType=VARCHAR}), '%') and
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR} and
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR} and
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT} and
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT} and
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=TINYINT} and
      </if>
        1 = 1
    </where>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dleye_user_info
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <select id="selectUserInfoEntitiesByParams" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from dleye_user_info
    <include refid="selectByParamsWhere" />
    <if test="offset != null and limit != null">
      limit ${offset},${limit}
    </if>
  </select>
  <select id="selectUserInfoListCount" resultType="java.lang.Long" parameterType="java.util.Map" >
    select 
    count(*)
    from dleye_user_info
    <include refid="selectByParamsWhere" />
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dleye_user_info
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.danlu.dleye.persist.base.UserInfoEntity">
    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="userId">  
          SELECT LAST_INSERT_ID() AS USERID    
    </selectKey>
    insert into dleye_user_info (user_name, password, 
      email, tel, type, status, 
      del_flag, open_id, gmt_create, gmt_update
      )
    values (#{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, 
      #{delFlag,jdbcType=TINYINT}, #{openId,jdbcType=VARCHAR}, NOW(), NOW()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.danlu.dleye.persist.base.UserInfoEntity" useGeneratedKeys="true" keyProperty="userId">
    insert into dleye_user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
        gmt_create,
        gmt_update
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
        NOW(),
        NOW()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.danlu.dleye.persist.base.UserInfoEntity" >
    update dleye_user_info
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
        gmt_update = NOW()
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.danlu.dleye.persist.base.UserInfoEntity" >
    update dleye_user_info
    set user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      del_flag = #{delFlag,jdbcType=TINYINT},
      open_id = #{openId,jdbcType=VARCHAR},
      gmt_update = NOW()
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>